@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
    url("../fonts/Roboto-Regular.ttf") format("ttf")
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto"),
    url("../fonts/Roboto-Medium.ttf") format("ttf")
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local("Inter"),
    url("../fonts/Inter-Regular.ttf") format("ttf")
}

